{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
    {% if current_subcategory.title %}
    {{ current_subcategory.title }}
    {% else %}
    {{ current_subcategory }} | Маргроид
    {% endif %}
{% endblock title %}
{% block META_description %}
    {% spaceless %}
        {% if current_subcategory.description %}
            {{ current_subcategory.description }}
        {% else %}
            {{ current_subcategory|lower|capfirst }}
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		{% include 'extended_filter.html' %}
		<div class="col-xl-8 col-md-8" id="category-subcategory-detail">
			<div class="nav-helper">
				<a href="{% url 'base_view' %}">Главная</a>
				<i class="fa fa-long-arrow-right" aria-hidden="true"></i>

				{% if current_subcategory %}
				<a href="{% url 'category_detail_view' current_category.slug %}">{{ current_category.name }}</a>
				<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
				<span>{{ current_subcategory.name }}</span>
				{% else %}
				<span>{{ current_category.name }}</span>
				{% endif %}
			</div>

			{% if current_subcategory %}
			<h1>{{ current_category }} / {{ current_subcategory }}</h1>
			{% else %}
			<h1>{{ current_category }}</h1>
			{% endif %}

			<form method="GET" action="" class="sort-products">
				<span>Сортировка: </span>

				{% if sort_queries %}
				<span sort-query="default"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
				{% else %}
				<span is-active="true" sort-query="default"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
				{% endif %}

				{% if 'price-desc' in sort_queries %}
				<span sort-query="price-desc" is-active="true"><i class="fa fa-sort-numeric-desc" aria-hidden="true"></i></span>
				{% else %}
				<span sort-query="price-desc"><i class="fa fa-sort-numeric-desc" aria-hidden="true"></i></span>
				{% endif %}

				{% if 'price-asc' in sort_queries %}
				<span sort-query="price-asc" is-active="true"><i class="fa fa-sort-numeric-asc" aria-hidden="true"></i></span>
				{% else %}
				<span sort-query="price-asc"><i class="fa fa-sort-numeric-asc" aria-hidden="true"></i></span>
				{% endif %}

				{% if 'name-asc' in sort_queries %}
				<span sort-query="name-asc" is-active="true"><i class="fa fa-sort-alpha-desc" aria-hidden="true"></i></span>
				{% else %}
				<span sort-query="name-asc"><i class="fa fa-sort-alpha-desc" aria-hidden="true"></i></span>				
				{% endif %}

				{% if 'name-desc' in sort_queries %}
				<span sort-query="name-desc" is-active="true"><i class="fa fa-sort-alpha-asc" aria-hidden="true"></i></span>
				{% else %}
				<span sort-query="name-desc"><i class="fa fa-sort-alpha-asc" aria-hidden="true"></i></span>
				{% endif %}
				<input type="hidden" name="sort" value="">
			</form>

			<div class="filter-category-wrapper">
				<div class="row">
					{% for product in products %}
					<div class="filter-item-wrapper col-xl-6 col-lg-6 col-md-6 col-sm-6">
						{% if product.on_sale %}
						<div class="ribbon"><span>{{ product.sale }}% SALE</span></div>
						{% endif %}
						<div class="filter-product-item">
							<a href="{% url 'product_detail_view' product.id %}"><img src="{{ product.image.url }}" height="200"></a>
							<p align="center" class="filter-product-name"><a href="{% url 'product_detail_view' product.id %}">{{ product.name }}</a></p>
							{% if product.on_sale %}
							<p class="new-price">{{ product.new_price|floatformat }}</p>
							{% else %}
							<p class="new-price" style="visibility: hidden;"></p>
							{% endif %}
							<div class="filter-item-footer">
								{% if product.on_sale %}
								<span class="filter-product-price">
									{{ product.price }}
								</span>
								{% else %}
								<span class="filter-product-price-nosale">
									{{ product.price }}
								</span>
								{% endif %}
								<span data-toggle="tooltip" data-placement="top" title="Сравнить" class="item-compare" items-compare="{{ comparison_list }}" product-id="{{ product.id }}"><i class="fa fa-files-o" aria-hidden="true"></i></span>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>

			{% if products.paginator.num_pages > 1 %}
			<ul class="pagination">
				{% if products.has_previous %}
				<li><a href="?page={{ products.previous_page_number }}&{{ parameters }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
				{% else %}
				<li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
				{% endif %}

				{% if products.number|add:'-4' > 1 %}
				<li><a href="?page={{ products.number|add:'-5' }}&{{ parameters }}">&hellip;</a></li>
				{% endif %}

				{% for i in products.paginator.page_range %}
				{% if products.number == i %}
				<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
				{% elif i > products.number|add:'-5' and i < products.number|add:'5' %}
				<li><a href="?page={{ i }}&{{ parameters }}">{{ i }}</a></li>
				{% endif %}
				{% endfor %}

				{% if products.paginator.num_pages > products.number|add:'4' %}
				<li><a href="?page={{ products.number|add:'5' }}&{{ parameters }}">&hellip;</a></li>
				{% endif %}

				{% if products.has_next %}
				<li><a href="?page={{ products.next_page_number }}&{{ parameters }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
				{% else %}registration/
				<li class="disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
				{% endif %}
			</ul>
			{% endif %}

		</div>
	</div>
</div>

{% endblock content %}