{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}

        {{ seo.title_showroom_page }}

{% endblock title %}
{% block META_description %}

        {{ seo.description_showroom_page }}

{% endblock %}


{% block content %}

<div class="container">
	<div class="row">
		{% include 'widgets/left-info-menu.html' with start_width=4 caption_width=9 %}
		<div class="col-xl-8 col-md-8" id="showroom-content">
			<div class="nav-helper">
				<a href="{% url 'home:home-page' %}">Главная</a>
				<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
				<span>Show Room</span>
			</div>
			<div class="main-content">
                    <h1>{{ seo.name }}</h1>
                    {{ seo.content|safe }}
			</div>
			<div class="row bottom-images">
                {% for foto in foto_showroom %}
				<div class="col-xl-6">
					<img src="{{ foto.docfile.url }}" alt="{{ foto.altimg }}" class="img-fluid">
				</div>
                {% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock content %}